node_modules
dist
coverage
.DS_Store
.idea
.vscode
.pnpm-store
.turbo
.env
.env.local
.env.*.local
apps/web/components.json.lock
apps/api/.tsbuildinfo
apps/api/.env
apps/web/.env
apps/web/.tsbuildinfo
apps/web/vitest.config.ts.timestamp-*
*.log
