NODE_ENV=development
PORT=4000
APP_ORIGIN=http://localhost:3000
AUTH_REQUIRE_EMAIL_VERIFICATION_FOR_LOGIN=false
SESSION_SECRET=change-me-please
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=tracking_okrs
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
RESEND_API_KEY=change-me
RESEND_FROM_EMAIL=no-reply@example.com
RESEND_FROM_NAME=Tracking OKRs
GITHUB_CLIENT_ID=change-me
GITHUB_CLIENT_SECRET=change-me
GITHUB_CALLBACK_URL=http://localhost/api/v1/auth/github/callback
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
